<script src="../checkCountry.js" ></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <div class="body">
            <script src="menu2.js"></script>
            <div role="main" class="main">
                <section class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Showroom</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Explore Our <strong>Styled Rooms</strong></h2>
                            <p class="lead">Visualize furniture in realistic room settings to help you design your perfect space.</p>
                        </div>
                    </div>

                    <hr class="tall" />

                    <div class="row">
                        <div class="col-md-12 center">
                            <h3>Coming Soon!</h3>
                            <p>We're working on bringing you beautiful styled room displays where you can see our furniture in realistic settings.</p>
                        </div>
                    </div>

                    <hr class="tall" />
                </div>
            </div>
            <script src="../footer.js"></script>
        </div>
    </body>
</html>
